.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

main {
    padding: 0 10%;
}

main img {
    width: 65%;
}

h1 {
    font-size: max(2em, 3vw);
    color: var(--color1);
    font-weight: 600;
    line-height: 45px;
}

.cont li {
    text-align: justify;
    padding: 0 12px;
}


@media screen and (max-width: 850px) {
    .container {
        grid-template-columns: 1fr;
    }

    main img {
        width: 100%;
    }
}